In [2]:
!pip install pandas
!pip3 install mysql-connector
!pip install PyMySQL

!pip install --no-binary :all: pyodbc

!pip install openpyxl --upgrade

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/khanhpn/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: mysql-connector in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (2.2.9)
Requirement already satisfied: PyMySQL in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (1.0.3)
Requirement already satisfied: pyodbc in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (4.0.39)
Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [5]:
from pymysql import connect
from sqlalchemy import create_engine
import pyodbc
import os
import pandas as pd
import mysql.connector as connection

In [6]:
# Test connect Notebook with Database
sql = "SELECT * FROM fullstack.user;"
db = connection.connect(host="localhost", database="fullstack", user="root", password="", use_pure=True)
df = pd.read_sql(sql, db)
df.head()

/var/folders/1m/ntwkjd1n6f72t9x9fhxn5bt80000gn/T/ipykernel_5274/1167408158.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, db)

   id                  email        name  username
0   4  arjungautam@gmail.com  ArjunCodes     arjun
1   5     hirotama@gmail.com   katakunhi  hirotama
2   6  arjungautam@gmail.com     khanhpn   khanhpn
3   7  arjungautam@gmail.com       molly     molly
4   8  arjungautam@gmail.com        rosa      rosa

In [7]:
HOSTNAME = 'localhost'
PORT = 3306
DBNAME = 'fullstack'
USERNAME = 'root'
PASSWORD = ''

#load data to postgres
def load(df, tbl):
  try:
    rows_imported = 0
    engine = create_engine(f"mysql+pymysql://{USERNAME}:{PASSWORD}@{HOSTNAME}:{PORT}/{DBNAME}")
    print(f'importing rows {rows_imported} to {rows_imported + len(df)}... ')
    # save df to mysql
    df.to_sql(f"stg_{tbl}", engine, if_exists='replace', index=False)
    rows_imported += len(df)
    # add elapsed time to final print out
    print("Data imported successful")  
  except Exception as e:
    print("Data load error: " + str(e))

In [8]:
dir = r'/Users/khanhpn/Desktop/pythondataanalysis/ETLPipeline/data'


def extract():
  try:
    # starting directory
    directory = dir
    # iterate over files in the directory
    for filename in os.listdir(directory):
        #get filename without ext
        file_wo_ext = os.path.splitext(filename)[0]
        # only process excel files
        if filename.endswith(".xlsx"):
            f = os.path.join(directory, filename)
            # checking if it is a file
            if os.path.isfile(f):
                df = pd.read_excel(f)
                # call to load
                load(df, file_wo_ext)
  except Exception as e:
    print("Data extract error: " + str(e))

In [9]:
try:
  #call extract function
  df = extract()
except Exception as e:
  print("Error while extracting data: " + str(e))

importing rows 0 to 16...
Data imported successful
importing rows 0 to 35...
Data imported successful